<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


    <!--启用对事务注解的支持-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!--事务管理-通知-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!--对insert,update,add,delete开头的方法进行事务管理,只要有异常就回滚-->
            <tx:method name="insert*" propagation="REQUIRED"
                       rollback-for="java.lang.Exception"/>
            <tx:method name="update*" propagation="REQUIRED"
                       rollback-for="java.lang.Exception"/>
            <tx:method name="add*" propagation="REQUIRED"
                       rollback-for="java.lang.Exception"/>
            <tx:method name="delete*" propagation="REQUIRED"
                       rollback-for="java.lang.Exception"/>
            <!--select,count,get,find开头的方法,开启只读,提高数据库访问性能-->
            <tx:method name="select*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="count*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
            <!--对其他方法-使用默认的事务管理-->
            <tx:method name="*" propagation="REQUIRED" rollback-for="java.lang.Exception" />
        </tx:attributes>
    </tx:advice>
    <!--启动@aspectj的自动代理支持-->
    <aop:aspectj-autoproxy/>
    <!--事务aop切面配置-->
    <aop:config>
        <!--定义切点函数-->
        <aop:pointcut id="serviceMethods"
                      expression="execution(* com.shmily.service.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods"/>
    </aop:config>

    <!--(事务管理)transaction manager,use JtaTransactionManager for global tx-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="proxyDataSource"/>
    </bean>

    </beans>