<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="fileEncodings" value="utf-8"/>
        <property name="cacheSeconds" value="120"/>
        <property name="fallbackToSystemLocale" value="false" />
        <!-- 不抛出NoSuchMessageException, 使用messageKey作为返回值 -->
        <property name="useCodeAsDefaultMessage" value="true" />
        <property name="basenames" value="classpath:msg/validatemessages"/>
           <!-- <list>
                <value>msg.validationMessages</value>
            </list>
        </property>-->
    </bean>
    <!-- 以下 validator  ConversionService 在使用 mvc:annotation-driven 会 自动注册-->
    <!--validationMessageSource属性：指定国际化错误消息从哪里取，此处使用之前定义的messageSource来获取国际化消息；-->
    <!--如果此处不指定该属性，则默认到classpath下的ValidationMessages.properties取国际化错误消息。-->
    <bean id="validator"
          class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <!-- 不设置则默认去找org.hibernate.validator.HibernateValidator-->
        <property name="providerClass"  value="org.hibernate.validator.HibernateValidator"/>
        <!-- 如果不加默认到 使用classpath下的 ValidationMessages.properties -->
        <property name="validationMessageSource" ref="messageSource"/>
        <!-- 不设置则默认为false，true和false的区别在于：如果为true则不管验证项有多少个为失败的，
             都只返回解析到的第一个，其余再返回，如果为false则返回所有验证失败项 -->
        <property name="validationPropertyMap">
            <map>
                <entry key="hibernate.validator.fail_fast" value="false"/>
            </map>
        </property>
    </bean>
    <bean id="conversion-service" class="org.springframework.format.support.FormattingConversionServiceFactoryBean" />

</beans>