<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator />

    <property name="log.base" value="logs" />
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度  %msg表示日志消息，%n表示换行符-->
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{sessionId}] %-5level [%thread] %logger{80} :%msg%n" />

    <appender name="ROOT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/shmily-root.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${log.base}/%d{yyyy-MM-dd}/spring-shmily-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- ConsoleAppender 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 对日志进行格式化 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger -%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.shmily" level="info" />

    <!-- 上线初期建议lever=info，正常运行后建以lever=error,测试时lever=error-->
    <logger name="org.jdbcdslog.ConnectionLogger" level="info" />
    <logger name="org.jdbcdslog.StatementLogger" level="info" />
    <logger name="org.jdbcdslog.SlowQueryLogger" level="info" />
    <logger name="org.jdbcdslog.ResultSetLogger" level="info" />
    <logger name="org.springframework" level="info" />

    <!-- root级别控制 -->
    <root level="debug">
        <!-- 控制台输出 -->
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ROOT_FILE" />
    </root>
</configuration>